.blog-post {
  border-bottom: 1px solid #ff827c;
  margin-bottom: 6em;
  padding: 2em;
  transition: .2s ease;
  h2, h3, h4, h5 {
    color: rgba(0,0,0,0.8);
  }
  header {
    border-bottom: 1px solid #bbb;
    padding: 0 1rem 2rem 1rem;
    h2 {
      font-size: 36px;
      font-family: $font-family-headline;
      font-weight: 800;
      line-height: 1.2em;
      margin: 0;
    }
    .blog-post-date {
      font-family: $font-family-regular;
      line-height: 1.75em;
      margin: 0 0 1em 0;
    }
    .feelings {
      span {
        background: #FFC857;
        border-radius: 22px;
        display: inline-block;
        font-size: .9em;
        line-height: 1em;
        margin-right: 1em;
        padding: 3px 10px 4px 10px;
      }
    }
  }

  main {
    figure {
      img {
        width: 100%;
      }
    }
    h2 {
      font-family: $font-family-headline;
      font-size: $font-size-heading-medium;
    }
    h3 {
      font-size: $font-size-heading-small;
      font-style: italic;
    }
    p {
      color: rgba(0,0,0,0.8);
      line-height: 1.8;
      font-size: 20px;
      margin-bottom: 2em;
      -webkit-font-smoothing: antialiased;
    }

    p.has-drop-cap:not(:focus):first-letter {
      color: #ff827c;
      display: block;
      float: left;
      font-size: 78px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -.03em;
      line-height: .93;
      margin-left: -5px;
      margin-right: 7px;
      padding-top: 8px;
      position: relative;
    }
    quote {
      color: rgba(0,0,0,0.8);
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      display: block;
      font-size: 28px;
      font-style: italic;
      padding: 0.5em;
    }
  }

  @include media(800px) {
    padding: 0 0 2em 0;
    header {
      h2 {
        font-size: 54px;
      }
    }
    main {
      h2 {
        font-size: $font-size-heading-large;
        padding-left: 1rem;
      }
      h3 {
        font-size: $font-size-heading-medium;
        padding-left: 1rem;
      }
      p {
        padding: 0 1rem;
        font-size: 23px;
      }
      quote {
        font-size: 36px;
      }
    }
  }
}
