#site-header {
  align-items: center;
  background: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: $spacing-small;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    color: #444444;
    font-size: $font-size-text-medium;
    font-family: "Lucida Grande","lucida-grande","Lucida Sans Unicode","Lucida Sans",Geneva,sans-serif;
    font-weight: 400;
    letter-spacing: -0.05em;
  }

  nav {
  }

  a {
    color: #888888;
    font-family: "Lucida Grande","lucida-grande","Lucida Sans Unicode","Lucida Sans",Geneva,sans-serif;
    font-size: $font-size-text-small;
    font-weight: 400;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all .5s ease;
    border-radius: 4px;
    &:hover {
      background: #eeeeee;
      color: #2b2b2b;
    }
  }

  @include media(600px) {
  }
}
