.post-index {
  max-width: 720px;
  margin: 8em auto;
  display: flex;
  flex-direction: column;
  a {
    border-bottom: 1px dashed #888888;
    display: block;
    padding: 2em;
    text-decoration: none;
    transition: all .2s ease;
    span {
      display: block;
    }
    span.title {
      font-family: $font-family-headline;
      font-size: $font-size-heading-large;
    }
    span.date {
      font-size: $font-size-heading-medium;
      color: #ff827c;
    }
    &:hover {
      background: #eee;
    }
  }
}
