.post-index {
  max-width: 600px;
  margin: 8em auto;
  display: flex;
  flex-direction: column;
  a {
    border-bottom: 1px dashed #2F4D77;
    display: block;
    padding: 2em;
    text-decoration: none;
    transition: all .2s ease;
    span {
      display: block;
    }
    span.title {
      font-family: $font-family-headline;
      font-size: 2em;
    }
    span.date {

    }
    &:hover {
      background: #eee;
    }
  }
}
