{% include shared_close_button.html %}

<div class="jeep-container">
  <section class="paint-chips">
    <section>
      <span class="black"></span>
      <p>X8 - Black</p>
    </section>
    <section>
      <span class="bright-jade"></span>
      <p>QP - Bright Jade</p>
    </section>
    <section>
      <span class="citron"></span>
      <p>JV - Citron</p>
    </section>
    <section>
      <span class="dark-montego-blue"></span>
      <p>CJ - Dark Montego Blue</p>
    </section>
    <section>
      <span class="flame-red"></span>
      <p>R4 - Flame Red</p>
    </section>
    <section>
      <span class="gunmetal"></span>
      <p>Q7 - Gunmetal</p>
    </section>
    <section>
      <span class="lapis-blue"></span>
      <p>C4 - Lapis Blue</p>
    </section>
    <section>
      <span class="magenta"></span>
      <p>H1 - Magenta</p>
    </section>
    <section>
      <span class="moss-green"></span>
      <p>JN - Moss Green</p>
    </section>
    <section>
      <span class="stone-white"></span>
      <p>W1 - Stone White</p>
    </section>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE - Standard Edition</th>
        <th>62,426</th>
        <th>4,006</th>
        <th>1,203</th>
        <th>415</th>
        <th>68,050</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td>10,530</td>
      <td>487</td>
      <td>470</td>
      <td>24</td>
      <td>11,511</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>51,896</td>
      <td>3,519</td>
      <td>733</td>
      <td>374</td>
      <td>56,522</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>8</td>
      <td>8</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>51,176</th>
        <th>3,477</th>
        <th></th>
        <th>6,814</th>
        <th>61,467</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>407</td>
      <td>407</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>3,706</td>
      <td>3,706</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>14,585</td>
      <td>839</td>
      <td></td>
      <td>492</td>
      <td>15,916</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>36,591</td>
      <td>2,638</td>
      <td></td>
      <td>2,209</td>
      <td>41,438</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th>12,528</th>
        <th>1,668</th>
        <th>1</th>
        <th>967</th>
        <th>15,164</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>5,005</td>
      <td>411</td>
      <td></td>
      <td>429</td>
      <td>5,845</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>7,523</td>
      <td>1,257</td>
      <td>1</td>
      <td>538</td>
      <td>9,319</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>126,130</th>
        <th>9,151</th>
        <th>1,204</th>
        <th>8,196</th>
        <th>144,681</th>
      </tr>
    </thead>
  </table>

</div>
