{% include shared_close_button.html %}

<div class="jeep-container">
  <section class="documentation">
    <h3>Brochures</h3>
    <div class="brochures">
      <a href="/documents/jeep-all-models-1999.pdf" class="brochure" target="blank">
        <span class="brochure-full-99"></span>
        1999 Jeep Sales Brochure
      </a>
    </div >
  </section>

  <section class="paint-chips">
    <section>
      <span class="black"></span>
      <p>X8 - Black</p>
    </section>
    <section>
      <span class="chili-pepper-red"></span>
      <p>EA - Chili Pepper Red</p>
    </section>
    <section>
      <span class="deep-amethyst"></span>
      <p>CN - Deep Amethyst</p>
    </section>
    <section>
      <span class="desert-sand new"></span>
      <p>TD - Desert Sand</p>
    </section>
    <section>
      <span class="forest-green new"></span>
      <p>G8 - Forest Green</p>
    </section>
    <section>
      <span class="flame-red"></span>
      <p>R4 - Flame Red</p>
    </section>
    <section>
      <span class="gunmetal"></span>
      <p>Q7 - Gunmetal</p>
    </section>
    <section>
      <span class="intense-blue new"></span>
      <p>B3 - Intense Blue</p>
    </section>
    <section>
      <span class="medium-fern-green new"></span>
      <p>JP - Medium Fern Green</p>
    </section>
    <section>
      <span class="stone-white"></span>
      <p>W1 - Stone White</p>
    </section>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE - Standard Edition</th>
        <th>22,820</th>
        <th>989</th>
        <th>540</th>
        <th>4,125</th>
        <th>94,997</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td>4,539</td>
      <td>154</td>
      <td>43</td>
      <td>40</td>
      <td>4,776</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>18,281</td>
      <td>835</td>
      <td>299</td>
      <td>5</td>
      <td>19,420</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>43,271</th>
        <th>2,519</th>
        <th></th>
        <th>3,309</th>
        <th>49,099</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>26,481</td>
      <td>1,902</td>
      <td></td>
      <td>3,036</td>
      <td>31,419</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>16,785</td>
      <td>617</td>
      <td></td>
      <td>271</td>
      <td>17,673</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>5</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th>19,092</th>
        <th>1,641</th>
        <th>198</th>
        <th>771</th>
        <th>21,702</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>9,079</td>
      <td>458</td>
      <td>113</td>
      <td>353</td>
      <td>10,004</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>10,012</td>
      <td>1,183</td>
      <td>84</td>
      <td>418</td>
      <td>11,697</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>85,183</th>
        <th>5,149</th>
        <th>540</th>
        <th>4,125</th>
        <th>94,997</th>
      </tr>
    </thead>
  </table>
</div>
