<div class="jeep-container">
  <section class="paint-chips">
    <span class="amber-fire">V3</span>
    <span class="black">X8</span>
    <span class="flame-red">R4</span>
    <span class="forest-green">G8</span>
    <span class="medium-fern-green">JP</span>
    <span class="patriot-blue new">BT</span>
    <span class="silverstone new">S5</span>
    <span class="solar-yellow new">YH</span>
    <span class="stone-white dark-text">W1</span>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE - Standard Edition</th>
        <th>21,238</th>
        <th>944</th>
        <th>444</th>
        <th>103</th>
        <th>103,344</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td>4,372</td>
      <td>154</td>
      <td>47</td>
      <td>76</td>
      <td>4,649</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>16,866</td>
      <td>790</td>
      <td>397</td>
      <td>27</td>
      <td>18,080</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>52,291</th>
        <th>4,201</th>
        <th></th>
        <th>2,420</th>
        <th>58,912</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>46</td>
      <td>46</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1,254</td>
      <td>1,254</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>21,373</td>
      <td>709</td>
      <td></td>
      <td>389</td>
      <td>22,471</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>30,918</td>
      <td>3,492</td>
      <td></td>
      <td>731</td>
      <td>35,141</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th>19,302</th>
        <th>1,380</th>
        <th>181</th>
        <th>840</th>
        <th>21,703</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>10,450</td>
      <td>394</td>
      <td>111</td>
      <td>464</td>
      <td>11,419</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>8,852</td>
      <td>986</td>
      <td>70</td>
      <td>376</td>
      <td>10,284</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>92,831</th>
        <th>6,525</th>
        <th>625</th>
        <th>3,363</th>
        <th>103,344</th>
      </tr>
    </thead>
  </table>
</div>
