{% include shared_close_button.html %}

<div class="jeep-container">
  <section class="documentation">
    <h3>Brochures</h3>
    <div class="brochures">
      <a href="/documents/jeep-all-models-2001.pdf" class="brochure" target="blank">
        <span class="brochure-full-01"></span>
        2001 Jeep Sales Brochure
      </a>
    </div >
  </section>

  <section class="paint-chips">
    <section>
      <span class="amber-fire"></span>
      <p>R4 - Amber Fire</p>
    </section>
    <section>
      <span class="black"></span>
      <p>X8 - Black</p>
    </section>
    <section>
      <span class="flame-red"></span>
      <p>R4 - Flame Red</p>
    </section>
    <section>
      <span class="forest-green"></span>
      <p>G8 - Forest Green</p>
    </section>
    <section>
      <span class="patriot-blue"></span>
      <p>BT - Patriot Blue</p>
    </section>
    <section>
      <span class="sienna-pearl new"></span>
      <p>U7 - Sienna Pearl</p>
    </section>
    <section>
      <span class="silverstone"></span>
      <p>S5 - Silverstone</p>
    </section>
    <section>
      <span class="solar-yellow"></span>
      <p>YH - Solar Yellow</p>
    </section>
    <section>
      <span class="steel-blue new"></span>
      <p>BQ - Steel Blue</p>
    </section>
    <section>
      <span class="stone-white"></span>
      <p>W1 - Stone White</p>
    </section>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE</th>
        <th>11,759</th>
        <th>704</th>
        <th>520</th>
        <th>112</th>
        <th>13,095</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td>2,781</td>
      <td>102</td>
      <td>47</td>
      <td>68</td>
      <td>2,998</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>8,977</td>
      <td>602</td>
      <td>473</td>
      <td>44</td>
      <td>10,096</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp HD Manual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1</td>
      <td>1</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>42,561</th>
        <th>2,901</th>
        <th>55</th>
        <th>2,229</th>
        <th>47,746</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>1</td>
      <td></td>
      <td></td>
      <td>1,338</td>
      <td>1,339</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>18,925</td>
      <td>582</td>
      <td>34</td>
      <td>233</td>
      <td>19,774</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>23,635</td>
      <td>2,319</td>
      <td>21</td>
      <td>657</td>
      <td>26,632</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th>12,214</th>
        <th>784</th>
        <th>117</th>
        <th>516</th>
        <th>13,631</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>6,823</td>
      <td>263</td>
      <td>70</td>
      <td>267</td>
      <td>7,423</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>5,391</td>
      <td>521</td>
      <td>47</td>
      <td>249</td>
      <td>6,208</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>66,534</th>
        <th>4,389</th>
        <th>692</th>
        <th>2,857</th>
        <th>74,472</th>
      </tr>
    </thead>
  </table>

  <table>
    <thead>
      <tr>
        <th>60th Anniversary Edition</th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>179</td>
      <td>179</td>
    </tr>
    <tr>
      <td>4L I6 w. 3sp Automatic 32RH</td>
      <td>1,895</td>
      <td>123</td>
      <td>34</td>
      <td>14</td>
      <td>2,066</td>
    </tr>
    <tr>
      <td>4L I6 w. 5sp Manual</td>
      <td>2,178</td>
      <td>441</td>
      <td>21</td>
      <td>210</td>
      <td>2850</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>4,073</th>
        <th>564</th>
        <th>55</th>
        <th>403</th>
        <th>5,095</th>
      </tr>
    </thead>
  </table>
</div>
