{% include shared_close_button.html %}


<div class="jeep-container">
  <section class="documentation">
    <h3>Brochures</h3>
    <div class="brochures">
      <a href="/documents/tj-brochure-2002.pdf" class="brochure" target="blank">
        <span class="brochure-02"></span>
        2002 Wrangler Sales Brochure
      </a>
    </div >
  </section>

  <h3>Paint Options</h3>
  <section class="paint-chips">
    <section>
      <span class="amber-fire"></span>
      <p>R4 - Amber Fire</p>
    </section>
    <section>
      <span class="black"></span>
      <p>X8 - Black</p>
    </section>
    <section>
      <span class="bright-silver"></span>
      <p>S2 - Bright Silver</p>
    </section>
    <section>
      <span class="deep-cranberry"></span>
      <p>MT - Deep Cranberry</p>
    </section>
    <section>
      <span class="deep-slate"></span>
      <p>AW - Deep Slate</p>
    </section>
    <section>
      <span class="flame-red"></span>
      <p>R4 - Flame Red</p>
    </section>
    <section>
      <span class="inca-gold"></span>
      <p>Y6 - Inca Gold</p>
    </section>
    <section>
      <span class="inferno-red"></span>
      <p>EL - Inferno Red</p>
    </section>
    <section>
      <span class="light-almond"></span>
      <p>KJ - Light Almond</p>
    </section>
    <section>
      <span class="patriot-blue"></span>
      <p>BT - Patriot Blue</p>
    </section>
    <section>
      <span class="shale-green new"></span>
      <p>GR - Shale Green</p>
    </section>
    <section>
      <span class="sienna-pearl"></span>
      <p>U7 - Sienna Pearl</p>
    </section>
    <section>
      <span class="silverstone"></span>
      <p>S5 - Silverstone</p>
    </section>
    <section>
      <span class="solar-yellow"></span>
      <p>YH - Solar Yellow</p>
    </section>
    <section>
      <span class="steel-blue"></span>
      <p>BQ - Steel Blue</p>
    </section>
    <section>
      <span class="stone-white"></span>
      <p>W1 - Stone White</p>
    </section>
    <section>
      <span class="taupe-frost"></span>
      <p>TK - Taupe Frost</p>
    </section>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE - Standard Edition</th>
        <th>7,477</th>
        <th>833</th>
        <th>354</th>
        <th>16</th>
        <th>8,680</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td>1,734</td>
      <td>84</td>
      <td>192</td>
      <td></td>
      <td>2,010</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>5,743</td>
      <td>749</td>
      <td>162</td>
      <td>16</td>
      <td>6,670</td>
    </tr>
    <thead>
      <tr>
        <th>X</th>
        <th>22,744</th>
        <th></th>
        <th>77</th>
        <th></th>
        <th>22,821</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>8,367</td>
      <td></td>
      <td>34</td>
      <td></td>
      <td>8,401</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>14,377</td>
      <td></td>
      <td>43</td>
      <td></td>
      <td>14,420</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>26,344</th>
        <th>3,423</th>
        <th></th>
        <th>1,495</th>
        <th>31,262</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>1</td>
      <td></td>
      <td></td>
      <td>781</td>
      <td>782</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>11,918</td>
      <td>690</td>
      <td></td>
      <td>203</td>
      <td>12,811</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>14,425</td>
      <td>2,733</td>
      <td></td>
      <td>509</td>
      <td>17,667</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th>10,185</th>
        <th>960</th>
        <th>135</th>
        <th>612</th>
        <th>11,892</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>5,579</td>
      <td>375</td>
      <td>83</td>
      <td>242</td>
      <td>6,279</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>4,606</td>
      <td>585</td>
      <td>52</td>
      <td>370</td>
      <td>5,613</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>66,750</th>
        <th>5,216</th>
        <th>566</th>
        <th>2,123</th>
        <th>74,655</th>
      </tr>
    </thead>
  </table>

  <table>
    <thead>
      <tr>
        <th>Apex Edition</th>
        <th>USA</th>
        <th>Canada</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>X</th>
        <th>5,102</th>
        <th></th>
        <th></th>
        <th>5,102</th>
      </tr>
    </thead>
    <tr>
      <td>4L I6 w. 3sp Automatic 32RH</td>
      <td>2,036</td>
      <td></td>
      <td></td>
      <td>2,036</td>
    </tr>
    <tr>
      <td>4L I6 w. 5sp HD Manual</td>
      <td>3,066</td>
      <td></td>
      <td></td>
      <td>3,066</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th></th>
        <th>1,135</th>
        <th>6</th>
        <th>1,141</th>
      </tr>
    </thead>
    <tr>
      <td>4L I6 w. 3sp Automatic 32RH</td>
      <td></td>
      <td>114</td>
      <td>3</td>
      <td>117</td>
    </tr>
    <tr>
      <td>4L I6 w. 5sp HD Manual</td>
      <td></td>
      <td>1,021</td>
      <td>3</td>
      <td>1,024</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>5,102</th>
        <th>1,135</th>
        <th>6</th>
        <th>6,243</th>
      </tr>
    </thead>
  </table>
</div>
