<div class="jeep-container">
  <section class="paint-chips">
    <span class="amber-fire">V3</span>
    <span class="black">X8</span>
    <span class="bright-silver">S2</span>
    <span class="deep-cranberry">MT</span>
    <span class="deep-slate">AW</span>
    <span class="flame-red">R4</span>
    <span class="inca-gold">Y6</span>
    <span class="inferno-red">EL</span>
    <span class="light-almond">KJ</span>
    <span class="patriot-blue">BT</span>
    <span class="shale-green new">GR</span>
    <span class="sienna-pearl">U7</span>
    <span class="silverstone">S5</span>
    <span class="solar-yellow">YH</span>
    <span class="steel-blue">BQ</span>
    <span class="stone-white dark-text">W1</span>
    <span class="taupe-frost">TK</span>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE - Standard Edition</th>
        <th>7,477</th>
        <th>833</th>
        <th>354</th>
        <th>16</th>
        <th>8,680</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td>1,734</td>
      <td>84</td>
      <td>192</td>
      <td></td>
      <td>2,010</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>5,743</td>
      <td>749</td>
      <td>162</td>
      <td>16</td>
      <td>6,670</td>
    </tr>
    <thead>
      <tr>
        <th>X</th>
        <th>22,744</th>
        <th></th>
        <th>77</th>
        <th></th>
        <th>22,821</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>8,367</td>
      <td></td>
      <td>34</td>
      <td></td>
      <td>8,401</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>14,377</td>
      <td></td>
      <td>43</td>
      <td></td>
      <td>14,420</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>26,344</th>
        <th>3,423</th>
        <th></th>
        <th>1,495</th>
        <th>31,262</th>
      </tr>
    </thead>
    <tr>
      <td>2.5L I4 w. 3sp Automatic 30RH</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>2.5L I4 w. 5sp Manual</td>
      <td>1</td>
      <td></td>
      <td></td>
      <td>781</td>
      <td>782</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>11,918</td>
      <td>690</td>
      <td></td>
      <td>203</td>
      <td>12,811</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>14,425</td>
      <td>2,733</td>
      <td></td>
      <td>509</td>
      <td>17,667</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th>10,185</th>
        <th>960</th>
        <th>135</th>
        <th>612</th>
        <th>11,892</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 3sp Autmatic 32RH</td>
      <td>5,579</td>
      <td>375</td>
      <td>83</td>
      <td>242</td>
      <td>6,279</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>4,606</td>
      <td>585</td>
      <td>52</td>
      <td>370</td>
      <td>5,613</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>66,750</th>
        <th>5,216</th>
        <th>566</th>
        <th>2,123</th>
        <th>74,655</th>
      </tr>
    </thead>
  </table>

  <table>
    <thead>
      <tr>
        <th>Apex Edition</th>
        <th>USA</th>
        <th>Canada</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>X</th>
        <th>5,102</th>
        <th></th>
        <th></th>
        <th>5,102</th>
      </tr>
    </thead>
    <tr>
      <td>4L I6 w. 3sp Automatic 32RH</td>
      <td>2,036</td>
      <td></td>
      <td></td>
      <td>2,036</td>
    </tr>
    <tr>
      <td>4L I6 w. 5sp HD Manual</td>
      <td>3,066</td>
      <td></td>
      <td></td>
      <td>3,066</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th></th>
        <th>1,135</th>
        <th>6</th>
        <th>1,141</th>
      </tr>
    </thead>
    <tr>
      <td>4L I6 w. 3sp Automatic 32RH</td>
      <td></td>
      <td>114</td>
      <td>3</td>
      <td>117</td>
    </tr>
    <tr>
      <td>4L I6 w. 5sp HD Manual</td>
      <td></td>
      <td>1,021</td>
      <td>3</td>
      <td>1,024</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>5,102</th>
        <th>1,135</th>
        <th>6</th>
        <th>6,243</th>
      </tr>
    </thead>
  </table>
</div>
