<div class="jeep-container">
  <section class="paint-chips">
    <span class="black">X8</span>
    <span class="bright-silver">S2</span>
    <span class="electric-lime-green new">GL</span>
    <span class="flame-red">R4</span>
    <span class="inca-gold">Y6</span>
    <span class="light-khaki">JC</span>
    <span class="patriot-blue">BT</span>
    <span class="sienna-pearl">U7</span>
    <span class="solar-yellow new">YH</span>
    <span class="stone-white dark-text">W1</span>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE</th>
        <th>6,969</th>
        <th>108</th>
        <th>425</th>
        <th>63</th>
        <th>7,565</th>
      </tr>
    </thead>
    <tr>
      <td>2.4L I4 w. 4sp Automatic 42RLE</td>
      <td>1,537</td>
      <td></td>
      <td></td>
      <td>30</td>
      <td>1,567</td>
    </tr>
    <tr>
      <td>2.4L I4 w. 5sp HD Manual</td>
      <td>5,432</td>
      <td>108</td>
      <td>425</td>
      <td>33</td>
      <td>5,998</td>
    </tr>
    <thead>
      <tr>
        <th>X</th>
        <th>31,491</th>
        <th></th>
        <th>212</th>
        <th></th>
        <th>31,703</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>14,471</td>
      <td></td>
      <td>122</td>
      <td></td>
      <td>14,593</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>5,432</td>
      <td>108</td>
      <td>425</td>
      <td>33</td>
      <td>5,998</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>17,208</th>
        <th>2,697</th>
        <th></th>
        <th>1,863</th>
        <th>21,768</th>
      </tr>
    </thead>
    <tr>
      <td>2.4L I4 w. 5sp HD Manual</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1,110</td>
      <td>1,110</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>8,591</td>
      <td>483</td>
      <td></td>
      <td>314</td>
      <td>9,748</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>8,257</td>
      <td>2,214</td>
      <td></td>
      <td>439</td>
      <td>10,910</td>
    </tr>
    <thead>
      <tr>
        <th>Sport - RHD</th>
        <th>1,083</th>
        <th></th>
        <th></th>
        <th>1,495</th>
        <th>2,578</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>1,082</td>
      <td></td>
      <td></td>
      <td>514</td>
      <td>1,596</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>1</td>
      <td></td>
      <td></td>
      <td>981</td>
      <td>982</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th>5,485</th>
        <th>779</th>
        <th></th>
        <th>1,400</th>
        <th>7,664</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>3,464</td>
      <td>204</td>
      <td></td>
      <td>1,002</td>
      <td>4,670</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp Manual</td>
      <td>2,021</td>
      <td>575</td>
      <td></td>
      <td>398</td>
      <td>2,994</td>
    </tr>
    <thead>
      <tr>
        <th>Unlimited</th>
        <th>12,017</th>
        <th>635</th>
        <th></th>
        <th></th>
        <th>12,652</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>12,017</td>
      <td>635</td>
      <td></td>
      <td></td>
      <td>12,652</td>
    </tr>
    <thead>
      <tr>
        <th>Rubicon</th>
        <th>17,707</th>
        <th>772</th>
        <th>236</th>
        <th>323</th>
        <th>19,038</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>7,191</td>
      <td>171</td>
      <td>149</td>
      <td>323</td>
      <td>7,834</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 5sp HD Manual</td>
      <td>10,516</td>
      <td>601</td>
      <td>87</td>
      <td></td>
      <td>11,204</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>91,960</th>
        <th>4,991</th>
        <th>873</th>
        <th>5,144</th>
        <th>102,968</th>
      </tr>
    </thead>
  </table>
</div>
