<div class="jeep-container">
  <section class="paint-chips">
    <span class="black">X8</span>
    <span class="deep-beryl-green">GV</span>
    <span class="flame-red">R4</span>
    <span class="impact-orange">V5</span>
    <span class="light-khaki">JC</span>
    <span class="midnight-blue new">B8</span>
    <span class="solar-yellow">YH</span>
    <span class="stone-white dark-text">W1</span>
  </section>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>USA</th>
        <th>Canada</th>
        <th>Mexico</th>
        <th>Export</th>
        <th>Total</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>SE</th>
        <th>8,164</th>
        <th>456</th>
        <th>375</th>
        <th></th>
        <th>8,995</th>
      </tr>
    </thead>
    <tr>
      <td>2.4L I4 w. 6sp Manual NSG370</td>
      <td>5,528</td>
      <td>456</td>
      <td>375</td>
      <td></td>
      <td>6,359</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>2,636</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2,636</td>
    </tr>
    <thead>
      <tr>
        <th>X</th>
        <th>24,985</th>
        <th></th>
        <th>497</th>
        <th></th>
        <th>25,482</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>11,477</td>
      <td></td>
      <td>282</td>
      <td></td>
      <td>11,759</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 6sp Manual NSG370</td>
      <td>13,508</td>
      <td></td>
      <td>215</td>
      <td></td>
      <td>13,723</td>
    </tr>
    <thead>
      <tr>
        <th>Sport</th>
        <th>11,014</th>
        <th>1,502</th>
        <th></th>
        <th>2,779</th>
        <th>15,295</th>
      </tr>
    </thead>
    <tr>
      <td>2.4L I4 w. 6sp Manual NSG370</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1,400</td>
      <td>1,400</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>5,665</td>
      <td>374</td>
      <td></td>
      <td>521</td>
      <td>6,560</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 6sp Manual NSG370</td>
      <td>5,349</td>
      <td>1,128</td>
      <td></td>
      <td>858</td>
      <td>7,335</td>
    </tr>
    <thead>
      <tr>
        <th>Sport - RHD</th>
        <th>2,261</th>
        <th></th>
        <th></th>
        <th>2,469</th>
        <th>4,730</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>2,261</td>
      <td></td>
      <td></td>
      <td>741</td>
      <td>3,002</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 6sp Manual NSG370</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1,728</td>
      <td>1,728</td>
    </tr>
    <thead>
      <tr>
        <th>Sahara</th>
        <th></th>
        <th></th>
        <th></th>
        <th>867</th>
        <th>867</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td></td>
      <td></td>
      <td></td>
      <td>482</td>
      <td>482</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 6sp Manual NSG370</td>
      <td></td>
      <td></td>
      <td></td>
      <td>385</td>
      <td>385</td>
    </tr>
    <thead>
      <tr>
        <th>Unlimited</th>
        <th>14,875</th>
        <th>186</th>
        <th></th>
        <th></th>
        <th>15,061</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>9,465</td>
      <td>92</td>
      <td></td>
      <td></td>
      <td>9,557</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 6sp Manual NSG370</td>
      <td>5,410</td>
      <td>94</td>
      <td></td>
      <td></td>
      <td>5,504</td>
    </tr>
    <thead>
      <tr>
        <th>Rubicon Unlimited</th>
        <th>6,948</th>
        <th>146</th>
        <th></th>
        <th></th>
        <th>7,094</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>3,654</td>
      <td>57</td>
      <td></td>
      <td></td>
      <td>3,711</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 6sp Manual NSG370</td>
      <td>3,294</td>
      <td>89</td>
      <td></td>
      <td></td>
      <td>3,383</td>
    </tr>
    <thead>
      <tr>
        <th>Rubicon</th>
        <th>10,060</th>
        <th>764</th>
        <th>390</th>
        <th>36</th>
        <th>11,250</th>
      </tr>
    </thead>
    <tr>
      <td>4.0L I6 w. 4sp Autmatic 42RLE</td>
      <td>3,844</td>
      <td>168</td>
      <td>287</td>
      <td>36</td>
      <td>4,335</td>
    </tr>
    <tr>
      <td>4.0L I6 w. 6sp Manual NSG370</td>
      <td>6,216</td>
      <td>596</td>
      <td>103</td>
      <td></td>
      <td>6,915</td>
    </tr>
    <thead>
      <tr>
        <th>Grand Total</th>
        <th>78,307</th>
        <th>3,054</th>
        <th>1,262</th>
        <th>7,008</th>
        <th>89,631</th>
      </tr>
    </thead>
  </table>
</div>
