<section><span class="amber-fire"></span><p>R4 - Amber Fire</p><section class="years">00 01 02</section></section>
<section><span class="black"></span><p>X8 - Black</p><section class="years">97 98 99 00 01 02 03 04 05 06</section></section>
<section><span class="bright-jade"></span><p>QP - Bright Jade</p><section class="years">97 98</section></section>
<section><span class="bright-silver"></span><p>S2 - Bright Silver</p><section class="years">02 03 04</section></section>
<section><span class="chili-pepper-red"></span><p>EA - Chili Pepper Red</p><section class="years">98 99</section></section>
<section><span class="citron"></span><p>JV - Citron</p><section class="years">97</section></section>
<section><span class="dark-montego-blue"></span><p>CJ - Dark Montego Blue</p><section class="years">97</section></section>
<section><span class="deep-amethyst"></span><p>CN - Deep Amethyst</p><section class="years">98 99</section></section>
<section><span class="deep-beryl-green"></span><p>GV - Deep Beryl Green</p><section class="years">05 06</section></section>
<section><span class="deep-cranberry"></span><p>MT - Deep Cranberry</p><section class="years">02</section></section>
<section><span class="deep-slate"></span><p>AW - Deep Slate</p><section class="years">02</section></section>
<section><span class="desert-sand"></span><p>TD - Desert Sand</p><section class="years">99 00</section></section>
<section><span class="electric-lime-green"></span><p>GL - Electric Lime Green</p><section class="years">04 05</section></section>
<section><span class="emerald-green"></span><p>FG - Emerald Green</p><section class="years">98</section></section>
<section><span class="flame-red"></span><p>R4 - Flame Red</p><section class="years">97 98 99 00 01 02 03 04 05 06</section></section>
<section><span class="forest-green"></span><p>G8 - Forest Green</p><section class="years">99 00 01</section></section>
<section><span class="gunmetal"></span><p>Q7 - Gunmetal</p><section class="years">97 98 99</section></section>
<section><span class="impact-orange"></span><p>V5 - Impact Orange</p><section class="years">05 06</section></section>
<section><span class="inca-gold"></span><p>Y6 - Inca Gold</p><section class="years">02 03 04</section></section>
<section><span class="inferno-red"></span><p>EL - Inferno Red</p><section class="years">02</section></section>
<section><span class="intense-blue"></span><p>B3 - Intense Blue</p><section class="years">99 03</section></section>
<section><span class="lapis-blue"></span><p>C4 - Lapis Blue</p><section class="years">97 98</section></section>
<section><span class="light-almond"></span><p>KJ - Light Almond</p><section class="years">02</section></section>
<section><span class="light-khaki"></span><p>JC - Light Khaki</p><section class="years">03 04 05 06</section></section>
<section><span class="magenta"></span><p>H1 - Magenta</p><section class="years">97</section></section>
<section><span class="medium-fern-green"></span><p>JP - Medium Fern Green</p><section class="years">99 00</section></section>
<section><span class="midnight-blue"></span><p>B8 - Midnight Blue</p><section class="years">06</section></section>
<section><span class="moss-green"></span><p>JN - Moss Green</p><section class="years">97 98</section></section>
<section><span class="patriot-blue"></span><p>BT - Patriot Blue</p><section class="years">00 01 02 03 04 05</section></section>
<section><span class="shale-green"></span><p>GR - Shale Green</p><section class="years">02 03 05</section></section>
<section><span class="sienna-pearl"></span><p>U7 - Sienna Pearl</p><section class="years">02 03 04</section></section>
<section><span class="silverstone"></span><p>S5 - Silverstone</p><section class="years">00 01 02</section></section>
<section><span class="solar-yellow"></span><p>YH - Solar Yellow</p><section class="years">00 01 02 04 05 06</section></section>
<section><span class="steel-blue"></span><p>BQ - Steel Blue</p><section class="years">01 02</section></section>
<section><span class="stone-white"></span><p>W1 - Stone White</p><section class="years">97 98 99 00 01 02 03 04 05 06</section></section>
<section><span class="taupe-frost"></span><p>TK - Taupe Frost</p><section class="years">02</section></section>
